# API Configuration
VITE_API_URL=http://localhost:8000

# OpenAI Configuration
#ITE_OPENAI_API_KEY=
#ITE_OPENAI_API_URL=https://api.openai.com/v1

# Aptos Network
VITE_APTOS_NETWORK=testnet

# Proxy Server
VITE_PROXY_URL=http://localhost:3001

ELEVENLABS_API_KEY=
PORT=3001

VITE_PROXY_URL="http://localhost:3001"
VITE_WALLETCONNECT_PROJECT_ID =